@page "/"
@using Microsoft.EntityFrameworkCore
@using Quitmed_scraper.Database
@using Quitmed_scraper.Database.Models
@inject QuitmedScraperDatabaseContext QuitmedScraperDatabaseContext;

<PageTitle>Home</PageTitle>

@if (_products != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>In Stock</th>
            </tr>
        </thead>
        <tbody>
        @foreach (Product product in _products)
        {
            <tr>
                <td>@product.Name</td>
                <td>@FormatPrice(product.Price)</td>
                <td>@product.InStock</td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <p>Loading...</p>
}

@code{

    private List<Product>? _products;

    protected override async Task OnInitializedAsync()
    {
        _products = await QuitmedScraperDatabaseContext.Products.ToListAsync();
    }

    private string FormatPrice(int price)
    {
        return (price / 100.0m).ToString("C");
    }
}